DOCKER_NAMESPACE = frog
DOCKER_IMAGE_VERSION ?= latest
DOCKER_REPOSITORY = rad-nodejs
DOCKER_CONTAINER_NAME = rad-nodejs
DOCKER_INSTANCE = 1
DOCKER_PORTS = -p 3000:3000
DOCKER_MAPPED_VOLUMES = -v $(shell pwd)/src:/src
DOCKER_ENV = \
	-e NODE_ENV=development \
	-e NODE_PORT=3000